<script>
  $(document).ready(function (){

    let COMMENTS = []

    class Comment {
      constructor(content, userid, patchid, username) {
        this.content = content
        this.userid = userid
        this.patchid = patchid
        this.username = username

        COMMENTS.push(this)
      }

      makeJson(){
        return { comment: {user_id: `${this.userid}`, patch_id: `${this.patchid}`, content: `${this.content}`, username: `${this.username}`} }
      }

      createDiv(content, username) {
        return `<div class="comment"><p>${content}</p><p>Posted By: ${username}</p>`
      }
    }



    $('#newComment').submit( function (e){
      e.preventDefault()

      let newComment = new Comment($('#comment_content').val(), this.attributes[1].value, this.attributes[2].value, this.attributes[3].value)
      let token = this[2].value
      let data = newComment.makeJson()

      $.ajax({
        type: "POST",
        url: '/comments',
        data: data,
        authenticity_token: token,
        dataType: "json"
        })
      .done(function(resp) {
        $('#comments').prepend( () => newComment.createDiv(resp.content, resp.username))
        $('input#comment_content')[0].value = ''
       })
     })


     $.ajax({
       type: "GET",
       url: window.location.pathname,
       dataType: "json"
      }).done(function(resp){
        $('#comments').empty()
        resp.comments.reverse()
       resp.comments.forEach(function(value, index){
           let comment = new Comment(value.content, value.patch_id, value.user_id, value.username)
           $('#comments').append(comment.createDiv(comment.content, comment.username))
       })
     })
  });
</script>
