<div class='row'>
  <div class='col-lg-12'>
    <h2>PATCHES:</h2>

    <button id="prev" class="btn">Prev</button>
    <button id="next" class="btn">Next</button>

    <ul id="patches"></ul>

  </div>
</div>

<%= render partial: 'index.js'%>
