<h2>PATCHES:</h2>

<!-- <ul><% @patches.newest_patches.each do |p| %>
      <li><%= link_to p.name, user_patch_path(p.user, p) %>
          <%= ' uploaded by ' %>
          <%= link_to p.user.username, user_path(p.user) %></li>
      <% end %></ul> -->
<button id="prev">Prev</button>
<button id="next">Next</button>

<div id="patches"><ul></ul></div>

<script>
let PATCHES = []
let pStart = 0
let pEnd = 5

class Patch {
  constructor(patchname, patch_id, username, user_id) {
    this.patchname = patchname
    this.patch_id = patch_id
    this.username = username
    this.user_id = user_id

    PATCHES.push(this)
  }

  createLi() {
    return `<li class="patch"><p>
    <a href="/users/${this.user_id}/patches/${this.patch_id}">${this.patchname}</a><br>
    Posted By: <a href="/users/${this.user_id}">${this.username}</a></p></li>`
  }
}

$(document).ready(function(){
  $.ajax({
  type: "GET",
  url: window.location.pathname,
  dataType: "json"}).done(function(resp){
    resp.forEach(function(v){
      new Patch(v.name, v.id, v.user.username, v.user.id)
    })

    for(let v of PATCHES.slice(pStart, pEnd)){
      $("#patches ul").append(v.createLi())
    }
  })

  $('#next').click(function(){
    $('#patches ul').empty()

    pStart = pStart + 5
    pEnd = pEnd + 5

    for(let v of PATCHES.slice(pStart, pEnd)){
      $("#patches ul").append(v.createLi())
    }
  })

  $('#prev').click(function(){
    $('#patches ul').empty()

    pStart = pStart - 5
    pEnd = pEnd - 5

    for(let v of PATCHES.slice(pStart, pEnd)){
      $("#patches ul").append(v.createLi())
    }
  })
})
</script>
