<div class='row'>
  <div class='col-sm-12'>
    <h2>PATCHES:</h2>
    <br />
    <button id="prev" class="btn btn-dark">Prev</button>
    <button id="next" class="btn btn-dark">Next</button>
    <br /><br />

    <ul id="patches"></ul>
  </div>
</div>

<%= render partial: 'index.js'%>
