@import "bootstrap";

 body {
   font-family: Arial;
   background-color: #282a36;
   color: #bd93f9;
   margin: 0 !important;
   text-transform: uppercase;
 }

 h1 {
   color: #66d9ef;
 }

 h2 {
   color: #66d9ef;
 }

 h3 {
   font-weight: 600;
   color: #66d9ef;
 }

 .navbar{
   border-radius: 0 0 14px 14px;
 }


#logout {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
}


.group:after {
  content: "";
  display: table;
  clear: both;
  margin: 0;
}

.notice {
  margin: 20px 20px 20px 20px;
}

ul {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
}

li {
  margin-top: .4em;
}

form {
  margin-top: 20px;
}

img{
  margin: 20px 0 0 0;
}

.form-control{
  background-color: #343a40;
  color: #6c757d;
  border: #343a40;
  border-radius: 24px;
}

.form-control:focus{
  background-color: #343a40;
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  border: #343a40;
}

.form-control-file {
  background-color: #343a40;
  color: rgba(255, 255, 255, 0.5);
  border-radius: 24px;
}

/* unvisited link */
a:link {
    color: #ff79c6;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #ff79c6;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #54f7a5;
}

/* selected link */
a:active {
    color: #54f7a5;
    text-decoration: none;
}
