/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   font-family: Arial;
   background-color: #282a36;
   color: white;
   margin: 0 !important;
 }

 h1 {
   margin: 0 0 0 0;
   padding: 20px;
   color: #66d9ef;
   font-size: 4em;
 }

 h2 {
   margin-top: 30px;
   padding: 0 0 0 20px;
   color: #66d9ef;
 }

 h3 {
   padding: 0 0 0 20px;
   font-weight: 600;
   color: #66d9ef;
 }

#header {
  background-color: #000000;
}

#header h1 {
  float: left;
}

#header h2 {
  float: left;
}

form {
  margin-left: 20px;
}

#logout {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
}

p {
  margin: 20px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
  margin: 0;
}

ul {
  list-style-type: none;
  margin-left: 20px;
  padding: 0;
}

li {
  margin-top: .4em;
}

/* unvisited link */
a:link {
    color: #ff79c6;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #ff79c6;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #54f7a5;
}

/* selected link */
a:active {
    color: #54f7a5;
    text-decoration: none;
}
