<div class='row'>
  <div class='col-xl-12'>
  <h2>CATEGORIES:</h2>

    <ul id="categoryList"></ul>
  </div>
</div>

<script>
$("#categories").empty()

$(document).ready(function(){
  let CATEGORIES = []

  class Category {
    constructor(name, id) {
      this.name = name
      this.id = id

      CATEGORIES.push(this)
    }

    createLi() {
      return `<li class="categoryName">${this.name}</li>`
    }
  }

  $.ajax({
  type: "GET",
  url: window.location.pathname,
  dataType: "json"
  }).done(function(resp){

    resp.forEach(function(v){
      new Category(v.name, v.id)
    })

    $("#categoryList").empty()

    CATEGORIES.sort(function(a,b){
      return a.name.toUpperCase() > b.name.toUpperCase()
    })

    for(let v of CATEGORIES){
      $("#categoryList").append(v.createLi())
    }
  })
})
</script>
