<h2><%= @category.name %></h2>

<ul><% @category.patches.each do |p| %>
      <li><%= link_to p.name, user_patch_path(p.user, p) %> uploaded by <%= link_to p.user.username, user_path(p.user) %></li>
    <% end %></ul>
